@id("check_account_123")
permit(principal is Jans::User in Jans::Account::"Account = 123", action in Jans::Action::"GET", resource == Jans::Ticket::"account_123");